<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page" th:with="pageName='mealEdit'">
<body>
<div th:fragment="content">
    <h1 class="ui primary header" th:text="${meal} == null ? #{header.new.meal} : #{header.edit.meal}"></h1>

    <form th:object="${meal}" th:action="null" method="post" class="ui form">

        <th:block th:replace="components/form :: input(
                name='name',
                label=input.name,
                value=*{name},
                required=true)"></th:block>

        <div class="field" th:replace="components/ingredient :: advancedDropdown"></div>

        <th:block th:replace="components/form :: textarea(
                name='recipe',
                label=input.recipe,
                value=*{recipe},
                required=false)"></th:block>

        <input type="submit" class="primary fluid ui button" th:value="#{action.save}"/>
    </form>
</div>
</body>
</html>
