<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <body>
    <th:block th:fragment="input(name, label, value, required)">
      <div class="field" th:classappend="|${required ? 'required' : ''} ${#fields.hasErrors(name) ? 'error' : ''}|">
        <label th:text="#{${label}}"></label>
        <input type="text" th:field="*{__${name}__}"/>
        <div class="input error" th:if="${#fields.hasErrors(name)}" th:errors="*{__${name}__}"></div>
      </div>
    </th:block>
    <th:block th:fragment="textarea(name, label, value, required)">
      <div class="field" th:classappend="|${required ? 'required' : ''} ${#fields.hasErrors(name) ? 'error' : ''}|">
        <label th:text="#{${label}}"></label>
        <textarea th:field="*{__${name}__}"></textarea>
        <div class="input error" th:if="${#fields.hasErrors(name)}" th:errors="*{__${name}__}"></div>
      </div>
    </th:block>
  </body>

</html>
