<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="dropdown">
    <div class="two fields">
        <div class="ten wide field">
            <select id="ingredient" class="ui fluid search dropdown">
                <div class="item" th:each="item : ${items}">
                    <option
                            th:value="${item.id}"
                            th:text="${item.name} + ' (' + ${item.unit} + ')'"
                            th:attr="data-unit=${item.unit}, data-name=${item.name}"
                    ></option>
                </div>
            </select>
        </div>
        <div class="six wide field ui action input">
            <input id="ingredientQuantity" type="number" class="ui fluid" value="1"/>

            <div class="ui buttons">
                <button name="ingredientAddBtn" class="ui primary button">
                    <i class="add icon"></i>
                    <th:block th:text="#{action.add}"></th:block>
                </button>
                <div class="or"></div>
                <button name="ingredientAddItemBtn" class="ui secondary button">
                    <i class="write icon"></i>
                    <th:block th:text="#{action.new.item}"></th:block>
                </button>
            </div>

            <div class="ui basic add-item modal">
                <div class="header" th:text="#{modal.new.item}"></div>
                <div class="content">
                    <div class="ui inverted form">
                        <div class="field">
                            <label th:text="#{input.name}"></label>
                            <input id="newItemName" type="text" class="ui fluid" value=""/>
                        </div>
                        <div class="field">
                            <label th:text="#{input.unit}"></label>
                            <input id="newItemUnit" type="text" class="ui fluid" value=""/>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui green ok inverted button">
                        <i class="checkmark icon"></i>
                        <th:block th:text="#{modal.confirm.action.add}"></th:block>
                    </div>
                    <div class="ui red basic cancel inverted button">
                        <i class="remove icon"></i>
                        <th:block th:text="#{modal.confirm.action.cancel}"></th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="advancedDropdown" class="field">
    <div id="ingredients">
        <div th:each="currentIngredient, stat : ${meal.ingredients}">
            <input type="hidden" th:field="*{ingredients[__${stat.index}__].item.id}"/>
            <input type="hidden" th:field="*{ingredients[__${stat.index}__].quantity}"/>
            <input type="hidden" th:field="*{ingredients[__${stat.index}__].item.name}"/>
            <input type="hidden" th:field="*{ingredients[__${stat.index}__].item.unit}"/>
        </div>
    </div>
    <div class="field" id="ingredientList" data-dynamic-list="true" data-list-var="ingredientList">
        <div data-list-template="true">
            <div class="item" data-id="id">
                <div class="middle aligned content">
                    <i class="angle right icon"></i>
                    <span data-value="name"></span>
                    <div class="ui label clickable action-edit" data-value="label"></div>
                    <a class="ui mini basic circular negative delete icon button action-delete"
                       th:title="#{action.delete}">
                        <i class="delete icon"></i>
                    </a>
                </div>
            </div>
        </div>

        <div th:replace="components/ingredient :: dropdown"></div>

        <div class="ui basic edit-ingredient-quantity modal">
            <div class="header" th:text="#{modal.edit.quantity}"></div>
            <div class="content">
                <div class="ui inverted form">
                    <div class="field">
                        <label th:text="#{input.quantity}"></label>
                        <input id="newIngredientQuantity" type="number" class="ui fluid" value="1"/>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    <th:block th:text="#{modal.confirm.action.edit}"></th:block>
                </div>
                <div class="ui red basic cancel inverted button">
                    <i class="remove icon"></i>
                    <th:block th:text="#{modal.confirm.action.cancel}"></th:block>
                </div>
            </div>
        </div>

        <div class="ui list" data-list-container="true"></div>
    </div>
</div>
<div th:fragment="grocerylist">
    <div th:if="${#lists.isEmpty(groceryList)}" th:text="#{no.items}"></div>

    <table class="ui very basic table" th:if="${not #lists.isEmpty(groceryList)}">
        <thead>
        <tr>
            <th th:text="#{name}"></th>
            <th th:text="#{unit}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient : ${groceryList}">
            <td th:text="${ingredient.item.name}"></td>
            <td>
                <span th:text="${ingredient.quantity}"></span>
                <span th:text="${ingredient.item.unit}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
