<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <body>
    <div th:fragment="list">
      <div th:if="${#lists.isEmpty(items)}" th:text="#{no.items}"></div>

      <th:block th:replace="components/lists :: pagination(obj=${items})"></th:block>

      <table class="ui very basic table" th:if="${not #lists.isEmpty(items)}">
        <thead>
        <tr>
          <th th:text="#{name}"></th>
          <th th:text="#{unit}"></th>
          <th th:text="#{actions}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
          <td th:text="${item.name}"></td>
          <td th:text="${item.unit} != '' ? ${item.unit} : #{no.unit}"></td>
          <td class="collapsing">
            <a class="ui basic circular primary icon button" th:title="#{action.edit}" th:href="@{'/item/edit/' + ${item.id}}">
              <i class="edit icon"></i>
            </a>
            <a class="ui basic circular negative delete icon button" th:classappend="${not #lists.isEmpty(item.ingredients)} ? disabled : ''"
               th:title="#{action.delete}" th:href="@{'/item/delete/' + ${item.id}}"
               data-modal="confirm">
              <i class="delete icon"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>

      <th:block th:replace="components/lists :: pagination(obj=${items})"></th:block>
    </div>
  </body>

</html>
