<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <body>
    <div th:fragment="list">
      <table class="ui very basic table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="kitchen : ${kitchens}" th:with="isChosen = ${kitchen.id} == ${chosenKitchen.id}">
          <td>
            <i th:if="${isChosen}" th:title="#{kitchen.chosen}" class="checkmark icon"></i>
            <th:block th:text="${kitchen.name}"></th:block>
          </td>
          <td class="collapsing">
            <a class="ui basic circular positive icon button" th:classappend="${isChosen} ? 'disabled'"
               th:title="#{action.choose}" th:href="@{'/kitchen/choose/' + ${kitchen.id}}">
              <i class="checkmark icon"></i>
            </a>
            <a class="ui basic circular primary icon button" th:title="#{action.edit}" th:href="@{'/kitchen/edit/' + ${kitchen.id}}">
              <i class="edit icon"></i>
            </a>
            <a class="ui basic circular negative delete icon button" th:classappend="${isChosen} ? 'disabled'"
               th:title="#{action.delete}" th:href="@{'/kitchen/delete/' + ${kitchen.id}}"
               data-modal="confirm">
              <i class="delete icon"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>
