<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- I am not proud of this. -->

<body>
<th:block th:fragment="pagination (obj)" th:with="totalPages=10">
    <th:block th:with="pagesAhead=(${totalPages}-1) / 2">
        <div class="ui container">
            <div class="ui grid">
                <div class="centered row">
                    <div class="ui borderless pagination menu" th:if="${not #lists.isEmpty(obj)}">
                        <th:block th:if="${currentPage} != 1">
                            <a th:href="'?page=' + (${currentPage} - 1)" class="item">
                                «
                            </a>
                        </th:block>
                        <th:block th:unless="${currentPage} != 1">
                            <div class="disabled item">
                                «
                            </div>
                        </th:block>

                        <th:block th:each="i: ${#numbers.sequence(1, pages)}">
                            <th:block th:if="${currentPage}-1 gt ${totalPages}/2 and ${i} == 2">
                                <div class="item">
                                    ...
                                </div>
                            </th:block>

                            <th:block th:if="${currentPage} lt (${pages} - ${totalPages}/2) and ${i} == ${pages}-1">
                                <div class="item">
                                    ...
                                </div>
                            </th:block>

                            <th:block th:with="
                                    canBeShownLeft=(
                                        (${i} == 1)
                                        or (${i} lt (${currentPage}+1) and ${currentPage} - ${i} lt ${pagesAhead}))
                                        or (${pages} - ${totalPages}/2 lt ${currentPage} and ${pagesAhead} - 1 lt ${i}
                                    ),
                                    canBeShownRight=(
                                    (${i} == ${pages})
                                    or ((${currentPage}) lt ${i} and ${i} - ${currentPage} lt ${pagesAhead}))
                                    or (${currentPage} lt ${totalPages}/2 and ${i} lt 2*${pagesAhead} + 1
                                    )"
                            >
                                <th:block th:if="${canBeShownLeft} or ${canBeShownRight}">
                                    <th:block th:if="${currentPage} == ${i}">
                                        <div class="active item">
                                            <th:block th:text="${i}"></th:block>
                                        </div>
                                    </th:block>

                                    <th:block th:unless="${currentPage} == ${i}">
                                        <a th:href="'?page=' + ${i}" class="item">
                                            <th:block th:text="${i}"></th:block>
                                        </a>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </th:block>

                        <th:block th:if="${currentPage} != (${pages})">
                            <a th:href="'?page=' + (${currentPage} + 1)" class="item">
                                »
                            </a>
                        </th:block>
                        <th:block th:unless="${currentPage} != (${pages})">
                            <div class="disabled item">
                                »
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</body>

</html>
