<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="list">
    <th:block th:replace="components/lists :: pagination(obj=${meals})"></th:block>

    <table class="ui very basic table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meal : ${meals}">
            <td th:text="${meal.name}"></td>
            <td class="collapsing">
                <a class="ui basic circular primary icon button" th:title="#{action.edit}"
                   th:href="@{'/meal/edit/' + ${meal.id}}">
                    <i class="edit icon"></i>
                </a>
                <a class="ui basic circular negative delete icon button" th:title="#{action.delete}"
                   th:href="@{'/meal/delete/' + ${meal.id}}">
                    <i class="delete icon"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <th:block th:replace="components/lists :: pagination(obj=${meals})"></th:block>
</div>

<div th:fragment="dropdown">
    <div class="two fields">
        <div class="ten wide field">
            <select id="meal" class="ui fluid search dropdown">
                <div class="meal" th:each="meal : ${meals}">
                    <option
                            th:value="${meal.id}"
                            th:text="${meal.name}"
                            th:attr="data-name=${meal.name}"
                    ></option>
                </div>
            </select>
        </div>
        <div class="six wide field ui action input">
            <input id="mealQuantity" type="number" class="ui fluid" value="1"/>
            <button name="mealAddBtn" class="ui primary button">
                <i class="add icon"></i>
                <th:block th:text="#{action.add}"></th:block>
            </button>
        </div>
    </div>
</div>

<div th:fragment="advancedDropdown" class="field">
    <div id="meals">
        <div th:each="currentMeal, stat : ${formData.chosenMeals}">
            <input type="hidden" th:field="${formData.chosenMeals[__${stat.index}__].id}"/>
            <input type="hidden" th:field="${formData.chosenMeals[__${stat.index}__].quantity}"/>
            <input type="hidden" th:field="${formData.chosenMeals[__${stat.index}__].name}"/>
        </div>
    </div>
    <div class="field" id="mealList" data-dynamic-list="true" data-list-var="mealList">
        <div data-list-template="true">
            <div class="item" data-id="id">
                <div class="middle aligned content">
                    <i class="angle right icon"></i>
                    <span data-value="name"></span>
                    <div class="ui label clickable action-edit" data-value="label"></div>
                    <a class="ui mini basic circular negative delete icon button action-delete"
                       th:title="#{action.delete}">
                        <i class="delete icon"></i>
                    </a>
                </div>
            </div>
        </div>

        <div th:replace="components/meal :: dropdown"></div>

        <div class="ui basic edit-meal-quantity modal">
            <div class="header" th:text="#{modal.edit.quantity}"></div>
            <div class="content">
                <div class="ui inverted form">
                    <div class="field">
                        <label th:text="#{input.quantity}"></label>
                        <input id="newMealQuantity" type="number" class="ui fluid" value="1"/>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    <th:block th:text="#{modal.confirm.action.edit}"></th:block>
                </div>
                <div class="ui red basic cancel inverted button">
                    <i class="remove icon"></i>
                    <th:block th:text="#{modal.confirm.action.cancel}"></th:block>
                </div>
            </div>
        </div>

        <div class="ui list" data-list-container="true"></div>
    </div>
</div>
</body>

</html>
