<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

  <body>
    <div th:fragment="mobileMenu" id="mobileMenu" class="ui large inverted mobile menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>

      <div class="item" th:include="components/menu :: logoInv"></div>
    </div>

    <div th:fragment="mainMenu (pageName)" class="ui large inverted vertical labeled icon desktop menu">

      <div class="item" th:include="components/menu :: logoInv"></div>
      <th:block th:replace="components/menu :: items(pageName=${pageName})"></th:block>

      <div class="ui two line inverted dropdown item">
        <i class="dropdown icon"></i>
        <i class="user icon"></i>
        <div sec:authentication="principal.username"></div>
        <div>(<span sec:authentication="principal.activeKitchenName"></span>)</div>

        <div class="menu" th:include="components/menu :: authItems"></div>
      </div>
    </div>

    <div th:fragment="sidebar (pageName)" class="ui vertical inverted sidebar menu left">
      <div class="item" th:include="components/menu :: logoInv"></div>

      <div class="center aligned item">
        <div sec:authentication="principal.username"></div>
        <div>(<span sec:authentication="principal.activeKitchenName"></span>)</div>
      </div>

      <th:block th:replace="components/menu :: items(pageName=${pageName})"></th:block>
      <th:block th:include="components/menu :: authItems"></th:block>
  	</div>

    <th:block th:fragment="items (pageName)">
      <a class="item" th:classappend="${pageName} == 'generate' ? 'active'" th:href="@{/}">
        <i class="shopping basket icon"></i>
        <th:block th:text="#{menu.generate}"></th:block>
      </a>
      <a class="item" th:classappend="${pageName} == 'meals' ? 'active'" th:href="@{/meals}">
        <i class="food icon"></i>
        <th:block th:text="#{menu.meals}"></th:block>
      </a>
      <a class="item" th:classappend="${pageName} == 'items' ? 'active'" th:href="@{/items}">
        <i class="puzzle icon"></i>
        <th:block th:text="#{menu.items}"></th:block>
      </a>
      <a class="item" th:classappend="${pageName} == 'kitchens' ? 'active'" th:href="@{/kitchens}">
        <i class="world icon"></i>
        <th:block th:text="#{menu.kitchens}"></th:block>
      </a>
    </th:block>

    <th:block th:fragment="authItems">
      <!--<a class="item" th:text="#{menu.sign.in}" th:href="@{/signin}"></a>-->
      <!--<a class="item" th:text="#{menu.sign.up}" th:href="@{/signup}"></a>-->
      <a class="item" th:classappend="${pageName} == 'settings' ? 'active'" th:href="@{/settings}">
        <i class="settings icon"></i>
        <th:block th:text="#{menu.settings}"></th:block>
      </a>

      <a class="item" th:href="@{/logout}">
        <i class="sign out icon"></i>
        <th:block th:text="#{menu.sign.out}"></th:block>
      </a>
    </th:block>

    <th:block th:fragment="logoInv">
      <img src="../../public/img/logo_inv.png" th:alt="#{application.title}"/>
    </th:block>
  </body>
</html>
