<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <body>
    <th:block th:fragment="messages">
      <th:block th:if="${messages} != null and !${messages.messages.isEmpty()}">
        <th:block th:each="message : ${messages.messages}">
          <div class="ui message" th:classappend="${message.type}" >
            <i class="close icon"></i>
            <div class="header" th:text="#{${message.message}}"></div>
            <!--<p th:text="#{*{message}}"></p>-->
          </div>
        </th:block>
      </th:block>
    </th:block>

    <th:block th:fragment="modals">
      <div class="ui basic confirm modal">
        <div class="header" th:text="#{modal.confirm.header}"></div>
        <div class="content">
          <p th:text="#{modal.confirm.content}"></p>
        </div>
        <div class="actions">
          <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            <th:block th:text="#{modal.confirm.action.no}"></th:block>
          </div>
          <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            <th:block th:text="#{modal.confirm.action.ok}"></th:block>
          </div>
        </div>
      </div>
    </th:block>

    <th:block th:fragment="hint(content)">
      <div class="ui piled padded hint segment" th:if="${#authentication.getPrincipal().getHintsEnabled()}">
        <div class="ui inverted dimmer">
          <div class="ui loader"></div>
        </div>
        <div class="ui basic segment">
          <th:block th:replace="${content}"></th:block>
        </div>
        <div class="ui right aligned basic segment">
          <a href="" th:title="#{disable.hints.assurance}" class="ui compact mini negative basic disable all hints button" th:text="#{disable.all.hints}"></a>
        </div>
      </div>
    </th:block>
  </body>

</html>
