<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page" th:with="pageName='generate'">
<body>
<div th:fragment="content">
    <h1 class="ui primary header">Generate grocery list</h1>

    <th:block th:insert="components/system :: hint(~{ :: .hint})">
        <span class="hint" th:text="#{hint.generate}"></span>
    </th:block>

    <form th:object="${formData}" th:action="null" method="post" class="ui form">
        <div th:replace="components/meal :: advancedDropdown"></div>
        <input type="submit" id="generate-grocery-list-btn"
               class="primary fluid ui button" th:value="#{action.generate.shopping.list}" />
    </form>
</div>
</body>
</html>
