<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page" th:with="pageName='kitchens'">
<body>
<div th:fragment="content">
    <h1 class="ui primary header" th:text="#{header.kitchens}"></h1>

    <th:block th:insert="components/system :: hint(~{ :: .hint})">
        <span class="hint" th:text="#{hint.kitchens}"></span>
    </th:block>

    <a class="ui primary fluid button" th:href="@{/kitchen/new}">
        <i class="add icon"></i>
        <th:block th:text="#{action.add}"></th:block>
    </a>

    <div class="ui divider"></div>

    <div th:replace="components/kitchen :: list"></div>
</div>
</body>
</html>
