<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page" th:with="pageName='settings'">
<body>
<div th:fragment="content">
    <h1 class="ui primary header" th:text="#{header.settings}"></h1>

    <th:block th:insert="components/system :: hint(~{ :: .hint})">
        <span class="hint" th:text="#{hint.settings}"></span>
    </th:block>

    <div class="ui segment">
        <div class="ui inverted dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui toggle checkbox">
            <input type="checkbox" name="settings-show-hints"
                   th:checked="${#authentication.getPrincipal().getHintsEnabled()}">
            <label th:text="#{settings.show.hints}"></label>
        </div>
    </div>
</div>
</body>
</html>
