<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:include="baseLayout :: page" th:with="pageName='signIn'">
<body>
<th:block th:fragment="content">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="sign in left aligned column">
                <div class="logo">
                    <img src="../../public/img/logo_bw.png" th:alt="#{application.title}"/>
                </div>

                <th:block th:replace="components/system :: messages"></th:block>

                <form th:action="@{/signin}" method="post" class="ui large form">
                    <div class="ui raised segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" th:placeholder="#{input.email}" autofocus="autofocus" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" th:placeholder="#{input.password}" />
                            </div>
                        </div>
                        <input type="submit" class="ui fluid large primary submit button" th:value="#{action.sign.in}" />
                    </div>
                </form>

                <div class="ui icon message">
                    <i class="add user icon"></i>
                    <div class="content">
                        <th:block th:text="#{sign.up.question}"></th:block> <a th:href="@{/signup}" th:text="#{menu.sign.up}"></a>!
                    </div>
                </div>

                <div class="ui icon message">
                    <i class="lab icon"></i>
                    <div class="content">
                        <div th:text="#{demo.user.details}"></div>
                        <div>
                            <strong><th:block th:text="#{input.email}"></th:block>:</strong> demo
                        </div>
                        <div>
                            <strong><th:block th:text="#{input.password}"></th:block>:</strong> demo
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
