<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:include="baseLayout :: page" th:with="pageName='signIn'">
<body>
<th:block th:fragment="content">
    <div class="ui middle aligned center aligned grid">
        <div class="sign in left aligned column">
            <h1 class="ui header" th:text="#{application.title}"></h1>

            <th:block th:replace="components/system :: messages"></th:block>

            <form th:action="@{/signup}" method="post" class="ui large form">
                <div class="ui raised segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" th:placeholder="#{input.email}" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" th:placeholder="#{input.password}" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="passwordRepeat" th:placeholder="#{input.password.repeat}" />
                        </div>
                    </div>
                    <input type="submit" class="ui fluid large primary submit button" th:value="#{action.sign.up}" />
                </div>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>
