<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page" th:with="pageName='kitchenEdit'">
<body>
<div th:fragment="content">
    <h1 class="ui primary header" th:text="${kitchen.id} == null ? #{header.new.kitchen} : #{header.edit.kitchen}"></h1>

    <form class="ui form" th:object="${kitchen}" th:action="null" method="post">
        <th:block th:replace="components/form :: input(
                name='name',
                label=input.name,
                value=*{name},
                required=true)"></th:block>

        <input type="submit" class="primary fluid ui button" th:value="#{action.save}" />
    </form>
</div>
</body>
</html>
