body > .container {
    height: 100%;

    > .grid {
      height: 100%;
    }
}

.ui.form .ui.fluid.search.dropdown input {
	width: 100%;
}

.body-bg {
  background-image: url(../../public/img/bg_photo.jpg);
  background-size: cover;
}

.clickable {
    cursor: pointer;
}

.sign.in.column {
    max-width: 500px;
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}

.ui.large.desktop.menu {
    border-radius: 0;
    margin-bottom: 0;
}

.ui.large.mobile.menu {
    border-radius: 0;
}

.sign.in .logo {
    margin: auto;
    margin-bottom: 2rem;
    max-width: 200px;

    img {
        width: 100%;
        height: 100%;
    }
}