<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head (title)">
    <title th:text="#{application.title} + ' - ' + ${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" />
  </head>
</html>
