<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page" th:with="pageName='itemEdit'">
    <body>
        <div th:fragment="content">
            <h1 class="ui primary header" th:text="${item.id} == null ? #{header.new.item} : #{header.edit.item}"></h1>

            <form class="ui form" th:object="${item}" th:action="null" method="post">
                <th:block th:replace="components/form :: input(
                name='name',
                label=input.name,
                value=*{name},
                required=true)"></th:block>
                <!--<div class="required field">-->
                    <!--<label th:text="#{input.name}"></label>-->
                    <!--<input type="text" th:field="*{name}"/>-->
                    <!--<div class="ui mini negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>-->
                <!--</div>-->

                <th:block th:replace="components/form :: input(
                name='unit',
                label=input.unit,
                value=*{unit},
                required=false)"></th:block>
                <!--<div class="field">-->
                    <!--<label th:text="#{input.unit}"></label>-->
                    <!--<input type="text" th:field="*{unit}"/>-->
                <!--</div>-->

                <input type="submit" class="primary fluid ui button" th:value="#{action.save}" />
            </form>
        </div>
    </body>
</html>
